{{ requireJs('main.bundle', 2) }}
<body>
<div class="eds-content-wrapper">
    {% include 'includes/header.twig' %}
    {% include 'includes/menu.twig' %}

    <div class="eds-background">

        {% for i in 0..10 %}
            <div class="eds-background__item">

            </div>
        {% endfor %}


    </div>

    <main class="eds-section">
        {{ renderSection('content') }}
    </main>

    <footer>
        {% include 'includes/footer.twig' %}
        {% include 'includes/legal-menu.twig' %}
        {% include 'includes/tracking-banner.twig' %}
    </footer>
</div>

</body>