$padding-small: 2em;
$padding-medium: 4em;
$padding-large: 8em;

$spacing-bottom-small: 8em;
$spacing-bottom-medium: 15em;
$spacing-bottom-large: 30em;

$spacing-bottom-small--mobile: 1em;
$spacing-bottom-medium--mobile: 2em;
$spacing-bottom-large--mobile: 3em;


$padding-small--mobile: 1em;
$padding-medium--mobile: 1.5em;
$padding-large--mobile: 2em;


$width-columns-4: calc(12.2em * 4 + 1.6em * 3);
$width-columns-6: calc(12.2em * 6 + 1.6em * 5);
$width-columns-8: calc(12.2em * 8 + 1.6em * 7);
$width-columns-9: calc(12.2em * 9 + 1.6em * 8);
$width-columns-10: calc(12.2em * 10 + 1.6em * 9);
$width-columns-12: calc(12.2em * 12 + 1.6em * 11);