{{ requireCss('include-trackingbanner') }}
<div class="eds-tracking-banner eds-tracking-banner--hidden">
    <div class="eds-tracking-banner__container">
        <div class="eds-tracking-banner__explainer">
            <span>{{ getConstant('info_tracking') }}</span>
        </div>
        <div class="eds-tracking-banner__menu">
            <div class="eds-tracking-banner__button eds-tracking-banner__button--deny">
                <span>{{ getConstant('deny_tracking') }}</span>
            </div>
            <div class="eds-tracking-banner__button eds-tracking-banner__button--accept">
                <span>{{ getConstant('accept_tracking') }}</span>
            </div>
        </div>
    </div>
</div>