<div class="eds-panorama">
    <div class="eds-panorama__wrapper">

        <div class="eds-panorama__text">
            <span>{{ content.text }}</span>
        </div>

        <div class="eds-panorama__image">

        </div>

    </div>
</div>