<div class="eds-decoration-logo">
    <div class="eds-decoration-logo__wrapper">
        <div class="eds-decoration-logo__deco">

        </div>

        <div class="eds-decoration-logo__image">

        </div>


        <div class="eds-decoration-logo__deco">

        </div>
    </div>
</div>