<div class="eds-decoration-logo">
    <div class="eds-decoration-logo__wrapper eds-width--c8">
        <div class="eds-decoration-logo__deco">
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
        </div>

        <div class="eds-decoration-logo__image">
            <img src="/assets/logo-sarnar-gin.svg" />
        </div>


        <div class="eds-decoration-logo__deco">
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
            <span class="eds-icon eds-icon--croce"></span>
        </div>
    </div>
</div>