<div class="eds-dividing-title {{ content.spacing_bottom }}">
    <div class="eds-dividing-title__wrapper">
        <div class="eds-dividing-title__title">
            <h2><span>{{ content.headline }}</span></h2>
        </div>
    </div>
</div>