<div class="eds-vista">
    <div class="eds-vista__hero-wrapper">

        <div class="eds-vista__hero-text">

        </div>

        <div class="eds-vista__hero-image">



        </div>


    </div>

    <div class="eds-vista__intro-wrapper">


        <div class="eds-vista__intro-text">


            <div class="eds-vista__intro-text-headline">
                <h2>
                    <span>{{ content.title_1 }}</span>
                </h2>
            </div>

            <div class="eds-vista__intro-text-container">
                {{ content.text_1|raw }}
            </div>


        </div>


        <div class="eds-vista__intro-spacer">

        </div>



        <div class="eds-vista__intro-text">


            <div class="eds-vista__intro-text-headline">
                <h2>
                    <span>{{ content.title_2 }}</span>
                </h2>
            </div>

            <div class="eds-vista__intro-text-container">
                {{ content.text_2|raw }}
            </div>

        </div>


    </div>

</div>