<div class="eds-vista-text {{ content.spacing_bottom }}">
    <div class="eds-vista-text__wrapper">

        <div class="eds-vista-text__content eds-width--c8">

            {% for line in content.text|split('<br>') %}

                <div class="eds-vista-text__hero-line">
                    <span>{{ line|replace({'Gin': '<b>Gin</b>'})|raw }}</span>
                </div>

            {% endfor %}


        </div>

    </div>
</div>