<div class="eds-vista-text">
    <div class="eds-vista-text__wrapper">

        <div class="eds-vista-text__content eds-width--c8">
            <h1>{{ content.textarea|raw }}</h1>
        </div>

    </div>
</div>