
.eds-dividing-title__wrapper {
  padding: 15em 0;
  text-align: center;
}

.eds-dividing-title__title h2 span {
  font-weight: normal;
  font-family: 'Instrument Serif', serif;
  font-size: 10em;
  line-height: 1;
}

.eds-dividing-title__title h2 {
  margin: 0;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eds-dividing-title {
  background-image: url('/assets/image-trova-rivenditore.jpg');
  background-size: cover;
}

.eds-dividing-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0.5;
}

.eds-dividing-title {
  position: relative;
}

.eds-dividing-title__title {
  z-index: 1;
  position: relative;
  white-space: pre;
}