@import 'variables/variables';

.eds-tracking-banner {
  position: fixed;
  bottom: 0.5em;
  left: 0;
  right: 0;
  z-index: 100000;
  pointer-events: none;

  &--hidden {
    display: none;
  }

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    padding: 1.2em 1.2em 1.2em 3em;
    border-radius: 50em;
    color: white;
    background: #232323;
    backdrop-filter: blur(8px);
    width: calc(100% - 2em);
    box-sizing: border-box;
    border: 1px solid rgb(255 255 255 / 20%);
    pointer-events: all;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__explainer {
    flex: 1;
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      padding: 0 0 10px 0;
    }
  }

  &__menu {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 768px) {
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  &__button {

    background-color: transparent;
    border-radius: 15em;
    padding: 0.9em 3em;
    cursor: pointer;
    margin: 3px;
    white-space: nowrap;
    transition: background-color 0.3s;
    border: 1px solid;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    span {
      font-size: 1.6em;
    }

    &:first-child {
      margin-right: 10px;
    }
  }

  &__explainer span {
    font-size: 1.4em;
  }
}

@media #{$mqMaxMobileL} {
  .eds-tracking-banner__container {
    border-radius: 2em;
    margin: 1em;
  }
  .eds-tracking-banner__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
