@import 'variables/variables';

@import "includes/fonts";
@import "includes/icons";

@import "includes/legal-menu";
@import "includes/footer";
@import "includes/header";
@import "includes/fonts";
@import "includes/menu";

@import "includes/dimensions";


body {
  margin: 0;
  font-size: 62.5%;
  font-family: 'Funnel Display', sans-serif;
  background: #000;
}

.eds-section-wrapper {
  > :first-child {
    &:not(.eds-vista) {
      margin-top: 10em;
    }
  }
}

@media #{$mqMaxLaptop} {

  body {
    font-size: 56.25%;
  }
}

@media #{$mqMaxTablet} {
  body {
    font-size: 56.25%;
  }
}

.eds-section--spacing-top {
  margin-top: 15em;

}

