{% set excludeItems = getPageLanguageContent(grabPageLanguage(page))|filter(x => x.elementDefinition.handle == 'vista')|length %}

<div class="eds-section  {{ excludeItems == 0 ? 'eds-section--spacing-top' : '' }}">
    {{ renderContent() }}
</div>