
.eds-width {

  &--c4 {
    max-width: $width-columns-4;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &--c6 {
    max-width: $width-columns-6;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &--c8 {
    max-width: $width-columns-8;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &--c9 {
    max-width: $width-columns-9;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &--c10 {
    max-width: $width-columns-10;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &--c12 {
    max-width: $width-columns-12;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &--full {
    width: 100%;
    max-width: 192em;
  }
}

.eds-padding {
  &--small {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
  &--medium {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
  }
  &--large {
    padding-left: $padding-large;
    padding-right: $padding-large;
  }
}

.eds-spacing-bottom {
  &--small {
    margin-bottom: $spacing-bottom-small;
  }
  &--medium {
    margin-bottom: $spacing-bottom-medium;
  }
  &--large {
    margin-bottom: $spacing-bottom-large;
  }
}

@media #{$mqMaxTablet} {
  .eds-padding {
    &--small {
      padding-left: $padding-small--mobile;
      padding-right: $padding-small--mobile;
    }
    &--medium {
      padding-left: $padding-medium--mobile;
      padding-right: $padding-medium--mobile;
    }
    &--large {
      padding-left: $padding-large;
      padding-right: $padding-large;
    }
  }

  .eds-spacing-bottom {
    &--small {
      margin-bottom: $spacing-bottom-small--mobile;
    }
    &--medium {
      margin-bottom: $spacing-bottom-medium--mobile;
    }
    &--large {
      margin-bottom: $spacing-bottom-large--mobile;
    }
  }

}